{% extends "base.html" %}
{% load static %}
{% block content %}
{% for image_item in product.productimage_set.all %}
<div class="product_container">
      <div class="center_title_bar">{{ product.name }}</div>
      <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
          <div class="product_img_big"> <a href="javascript:popImage('images/big_pic.jpg','Some Title')" title="header=[Увеличить] body=[&nbsp;] fade=[on]"><img src="{{ image_item.image.url }}" alt="" border="0" /></a>
          </div>
          <div class="details_big_box">
            <div class="specifications">
                {{ product.description }}
                <br>
             {% if product.discount %}
                <div class="prod_discount">
                Скидка на товар {{ product.discount }}%
                </div>
            </div>
            <div class="prod_price_big"><span class="reduce">{{ product.price }} BYN</span> <span class="price">{{ product.price_with_discount }} BYN</span></div>
            {% else %}
            </div>
            <div class="prod_price_big"><span class="price">{{ product.price_with_discount }} BYN</span></div>
            {% endif %}
            <form id="form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}
                <input type="number" name="number" id="number"> Количество
                <p><input type="submit" class="addtocart" id="submit_btn" value="В корзину" data-product_id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}" />
                </p>
            </form>

            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>
{% endfor %}
{% for lst_product in latest_product.productimage_set.all %}
<div class="right_content">
      <div class="title_box">Новинка</div>
      <div class="border_box">
        <div class="product_title"><a href="{% url 'product' latest_product.id %}">{{ latest_product.name }}</div>
        <div class="product_img"><a href="{% url 'product' latest_product.id %}"><img src="{{ lst_product.image.url }}" alt="" border="0" /></a></div>
        {% if latest_product.discount %}
        <div class="prod_price"><span class="reduce">{{ latest_product.price }} BYN</span> <span class="price">{{ latest_product.price_with_discount }} BYN</span></div>
        <div class="prod_discount">Скидка на товар {{ latest_product.discount }}%</div>
        {% else %}
        <div class="prod_price"><span class="price">{{ latest_product.price_with_discount }} BYN</span></div>
        {% endif %}
      </div>
</div>
{% endfor %}
{% endblock %}