{% load static %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Изделия из дерева</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />
<script type="text/javascript" src="{% static 'js/boxOver.js'%}"></script>
</head>
<body>
<div id="main_container">
  <div id="header">

    <div class="left_header">
      <div id="logo"> <a href="#"><img src="{% static 'images/grut.png'%}" alt="" border="0" width="110" height="170" /></a> </div>
    </div>

    <div class="center_header">
      <div class="name_magazine">
        <div class="inscription"><a>Изделия из дерева для Вас!</a></div>
        <div class="tel_number"><a>+375 (29) 575-40-25</a></div>
        <div id="mts_log"> <a href="#"><img src="{% static 'images/logo_mts.png'%}" alt="" border="0" width="30" height="30" /></a> </div>
      </div>
    </div>
    <div class="right_header">
      <div class="top_search">
        <div class="search_text"><a href="#">Поиск</a></div>
        <input type="text" class="search_input" name="search" />
        <input type="image" src="{% static 'images/search.gif'%}" class="search_bt"/>
      </div>
      <div class="basket_area">
        <div class="basket_round">
          <div id="basket"> <a href="#"><img src="{% static 'images/basket.png'%}" alt="" border="0" width="55" height="86" /></a> </div>
        </div>
      </div>
    </div>
  </div>
  <div id="menu_tab">
    <ul class="menu">
      <li><a href="#" class="nav1"> Главная</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav2">Каталог</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav4">Регистрация</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav4">Мой кабинет</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav5">Доставка</a></li>
    </ul>
  </div>
  <div class="left_content">
    <div class="title_box">Категории</div>
    <ul class="left_menu">
      <li class="odd"><a href="#">Разделочные доски</a></li>
      <li class="even"><a href="#">Подставки</a></li>
      <li class="odd"><a href="#">Брошки</a></li>
      <li class="even"><a href="#">Сувениры</a></li>
    </ul>
  </div>

  <div class="center_content">
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Подставка кот</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/kot.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 12,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Подставка тыква</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/tykva.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 12,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Подставка яблоко</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/yabloko.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 12,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Брошь сова</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/sova.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 8,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Брошь дельфин</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/delphin.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 8,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Доска стандарт</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/pryam.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 25,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Доска груша</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/grusha.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 35,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Доска круглая</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/kruglaya.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 30,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
    <div class="prod_box">
      <div class="top_prod_box"></div>
      <div class="center_prod_box">
        <div class="product_title"><a href="details.html">Сувенир обезьяна</a></div>
        <div class="product_img"><a href="details.html"><img src="{% static 'images/obezyana.jpg'%}" alt="" border="0" /></a></div>
        <div class="prod_price">BYN 60,00</div>
      </div>
      <div class="bottom_prod_box"></div>
      <div class="prod_details_tab"> <a href="#" title="header=[добавить в корзину] body=[&nbsp;] fade=[on]"><img src="{% static 'images/cart.gif'%}" alt="" border="0" class="left_bt" /></a> <a href="details.html" class="prod_details">details</a> </div>
    </div>
  </div>
  <div class="footer">
    <div class="menu_area"> <a href="#">Главная</a> <a href="#">Каталог</a> <a href="#">Регистрация</a> <a href="#">Мой кабинет</a> <a href="contact.html">Доставка</a> </div>
    <div class="left_footer">
      <div id="mts_logo"><img src="{% static 'images/logo_mts.png'%}" alt="" border="0" width="30" height="30" /></a> </div>
      <p>ИП Харьянов Вадим Анатольевич</p><p>Звоните по номеру:+375(29) 575 40 25</p></div>
    <div class="right_footer"><p>Время работы:</p><p>9:00 - 19:00 (без выходных)</p></div>
  </div>
</div>
<!-- end of main_container -->
</body>
</html>
