{% load static %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Изделия из дерева</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
<div class="wrapper">
<div id="main_container">
  <div id="header">

    <div class="left_header">
      <div id="logo"> <a href="/"><img src="{% static 'images/grut.png'%}" alt="" border="0" width="110" height="170" /></a> </div>
    </div>
    <div class="center_header">
      <div class="name_magazine">
        <div class="inscription"><a>Изделия из дерева для Вас!</a></div>
        <div class="tel_number"><a>+375 (29) 575-40-25</a></div>
        <div id="mts_log"> <img src="{% static 'images/logo_mts.png'%}" alt="" border="0" width="30" height="30" /></a> </div>
      </div>
    </div>
    <div class="right_header">
      <div class="top_search">
        <div class="search_text">Поиск</a></div>
        <form action="{% url 'search' %}" method="get">
          <input type="text" class="search_input" name="search" />
          <input type="image" src="{% static 'images/search.gif'%}" class="search_bt"/>
        </form>
      </div>
      <div class="basket_area">
        <div class="basket_round"><div class="basket_number"><span id="basket_total_nmb">
          {% if products_total_nmb %}
            ({{ products_total_nmb }})</span></div>
          {% else %}
            (0)</span></div>
          {% endif %}
          <div class="basket"> <a href="{% url 'checkout' %}"><img src="{% static 'images/basket.png'%}" alt="" border="0" width="55" height="86" /></a></div>
        </div>
        <div class="basket-items hidden">
          <ul class="">
          {% for product_in_basket in products_in_basket %}
            <li>{{ product_in_basket.product.name }}, {{ product_in_basket.nmb }} шт. по {{ product_in_basket.price_per_item }} BYN
            <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="menu_tab">
    <ul class="menu">
      <li><a href="/" class="nav1">Главная</a></li>
      <li><a href="{% url 'discount' %}" class="nav2">Акции</a></li>
      <li><a href="{% url 'info_shop' %}" class="nav4">О магазине</a></li>
      <li><a href="{% url 'delivery' %}" class="nav5">Доставка</a></li>
    </ul>
  </div>
  <div class="left_content">
    <div class="title_box">Категории</div>
    <ul class="left_menu">
      {% for category in categories %}
      {% if category.id in even %}
        <li class="even"><a href="{{ category.get_url }}">{{ category.name }}</a></li>
      {% else %}
        <li class="odd"><a href="{{ category.get_url }}">{{ category.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="center_content">
    {% block content %}
    {% endblock content %}
  </div>
</div>
<div class="footer">
  <div class="menu_area"> <a href="/">Главная</a> <a href="{% url 'discount' %}">Акции</a> <a href="{% url 'info_shop' %}">О магазине</a> <a href="{% url 'delivery' %}">Доставка</a> </div>
  <div class="left_footer">
    <div id="mts_logo"><img src="{% static 'images/logo_mts.png'%}" alt="" border="0" width="30" height="30" /></a> </div>
    <p>ИП Харьянов Вадим Анатольевич</p><p>Звоните по номеру:+375(29) 575 40 25</p></div>
  <div class="right_footer"><p>Время работы:</p><p>9:00 - 19:00 (без выходных)</p></div>
</div>
  <form id="form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}
  </form>
<!-- end of main_container -->
</body>
</html>
